@media only screen and (max-width: 768px) {
    .login-box {
        margin-bottom: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .top h1 {
        text-align: center;
    }
}