html,
body {
    margin: 0;
    padding: 0;
}

.top {
    height: 10vh;
    width: 100%;
    color: #6C63FF;
    padding: 20px 100px;
}

.content {
    height: 90vh;
    width: 100%;
    padding-top: 120px;
}

.login-box {
    background-color: #6C63FF;
    border-radius: 0px;
    box-shadow: 0 4px 8px 0 rgba(108, 99, 255, 0.52), 0 6px 20px 0 rgba(108, 99, 255, 0.5);
}

.svgimg .container img {
    border: none;
    width: auto;
    height: 300px;
}

.login-form h1 {
    color: white;
    text-align: center;
    margin: 20px 0px;
}

.form-control {
    margin: 17px 0px;
    border-radius: 70px;
    border: none;
    padding: 25px 15px;
}

.input-group-prepend {
    height: 50px;
    margin-top: 17px;
    border-radius: 70px;
}

.Fpass {
    text-align: right;
    color: white;
    margin-right: 10px;
    padding-bottom: 15px;
}

form .btn-primary {
    background-color: white;
    color: #6C63FF;
    border-radius: 70px;
    border: none;
    padding: 5px 20px;
    font-size: 17px;
    font-weight: 600;
}

form .btn-primary:hover {
    background-color: #6C63FF;
    color: white;
    border: solid white 1px;
}

form {
    text-align: center;
}

.footer {
    height: 10vh;
    background-color: #6C63FF;
    text-align: center;
    color: white;
    z-index: 5;
    position: fixed;
    bottom: 0;
    box-shadow: 0 4px 8px 0 rgba(108, 99, 255, 0.52), 0 6px 20px 0 rgba(108, 99, 255, 0.5);
}

.footer .row {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup {
    color: white;
    font-weight: 600;
    padding: 10px;
}